{% extends "base.html" %} <!-- Razširitev osnovne predloge -->

{% block title %}Naloge.app &middot; {{ message }}{% endblock %} <!-- Naslov strani -->

{% block content %}
    <div class="col-8 offset-2 p-4 p-md-5 my-2">
        <div class="card">
            <div class="card-header text-white bg-dark">
                <h3>Error</h3> <!-- Naslov kartice -->
            </div>

            <div class="card-body">
                <p><b>{{ error.code }} {{ error.name }}</b></p> <!-- Koda in ime napake -->
                <p>{{ error.description }}</p> <!-- Opis napake -->
            </div>

        </div>
    </div>
{% endblock %}
